.About{
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}

.dev-card{
    background: var(--tertiary-color);
    border: thin solid;
    width: inherit;
}

.dev-card .card-title{
    color: var(--text-color);
    font-weight: bold;
    /*margin-left: 1rem;*/
    margin-top: 1rem;
}

.dev-card .card-body{
    color: var(--text-color);
}

.dev-card .card-img{

}

.dev-card .card-link{
    color: var(--text-color);
}

.dev-card .card-link:hover{
    color: var(--primary-color);
}

.dev-card .list-group{
    background-color: var(--secondary-color);
}

.dev-card .list-group-item{
    background-color: var(--secondary-color);
}