@import "css_globals.css";
@import "standard_styles.css";

.App {
  text-align: center;
}

.search-manga{
  text-align: center;
  margin-top: 50px;
  background: var(--bg-color);
}

.manga-card{
  background: var(--tertiary-color);
  border: thin solid;
  width: 25rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.manga-card-text.color{
  color: var(--text-color);
}

.manga-card-text .format{
  text-align: center;
  overflow-y: auto;
  height: 200px;
  font-size: smaller;
}

.themed-button:hover, search-button.hover{
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: black;
}

.themed-button:focus, search-button.focus{
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: black;
  outline: var(--primary-color) solid thick;
  box-shadow: none;
}

.themed-button:active, search-button.active, search-button:focus{
  outline: var(--primary-color) solid thick;
  box-shadow: none;
}

.loading-spinner{

}

.clickable{
  cursor: pointer;
}