@import "css_globals.css";
@import "standard_styles.css";

.App {
  text-align: center;
}

.search-manga{
  text-align: center;
  background: var(--bg-color);
}

.manga-card{
  background: var(--tertiary-color);
  border: thin solid;
  width: 25rem;
  margin: 10px;
}

.manga-card-text.color{
  color: var(--text-color);
}

.manga-card-text.format{
  text-align: center;
  overflow-y: auto;
  height: 12.5rem;
  font-size: smaller;
}

.themed-button:hover, .search-button.hover{
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: black;
}

.themed-button:focus, .search-button.focus{
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: black;
  outline: var(--primary-color) solid thick;
  box-shadow: none;
}

.themed-button:active, .search-button.active, .search-button:focus{
  outline: var(--primary-color) solid thick;
  box-shadow: none;
}

.clickable{
  cursor: pointer;
}