@import "css_globals.css";

.search-bar {
  align-content: center;
  align-items: center;
  align-self: center;
}

.search-button {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: black;

}

.search-button:hover, search-button.hover{
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: black;
}

.search-button:focus, search-button.focus{
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: black;
  outline: var(--primary-color) solid thick;
  box-shadow: none;
}

.search-button:active, search-button.active, search-button:focus{
  outline: var(--primary-color) solid thick;
  box-shadow: none;
}

.search-bar .search-button-format {
  margin-top: 20px;
  margin-bottom : 20px;
  margin-left: 5px;
  margin-right: 5px;

}

input.search-bar-field{
  background-color: var(--tertiary-color);
  color: var(--text-color);
  border-color: var(--primary-color);
  height: 37px;
}

input.search-bar-field:focus{
  outline: var(--primary-color-hover) solid thin;
  /*outline-color: white;*/

}

.top-bar{
  background-color: var(--tertiary-color);
}

.top-bar .text{
  color: var(--text-color);
}

.top-bar .image{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #af2c2c;
  }
  
  /*#0275d8*/
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }

  .bm-overlay {
    background: rgba(255, 255, 255, 0) !important; /* Will give you a white overlay */
  }