@import "css_globals.css";

.search-bar {
  align-content: center;
  align-items: center;
  align-self: center;
}

.search-bar .button-format {
  margin: 20px 5px 20px 5px;

}

input.search-bar-field{
  background-color: var(--tertiary-color);
  color: var(--text-color);
  border-color: var(--primary-color);
  height: 37px;
}

input.search-bar-field:focus{
  background-color: var(--tertiary-color);
  outline: var(--primary-color-hover) solid thin;
  color: var(--text-color);
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.15rem var(--primary-color-hover-shadow);
}

.top-bar{
  background-color: var(--tertiary-color);
  margin-top: 50px;
  padding-left: 12px;
  padding-right: 12px;
}

.top-bar .text{
  color: var(--text-color);
  align-self: center;
  text-decoration: none solid currentColor;

}

.top-bar .text:hover, .text:active, .text:focus{
  color: var(--text-color) !important;
  text-decoration: none solid currentColor !important;
}

.top-bar .image{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.aboutUs{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 2rem;
  margin-right: 2rem;
  color: var(--text-color-muted);
  cursor: pointer;
}

.aboutUs:hover{
  color: var(--primary-color);
}

.top-nav-bar{
  background-color: var(--tertiary-color);
}



.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #af2c2c;
  }
  
  /*#0275d8*/
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }

  .bm-overlay {
    background: rgba(255, 255, 255, 0) !important; /* Will give you a white overlay */
  }