.MangaInfo {
    text-align: center;
}

.ChapterList{
  text-align: center;
  display: inline-block
}

.info-card{
  background-color: var(--tertiary-color);
  margin-top: 20px;
}

.info-img{
  margin:0;
  display:flex;
  border: 5px solid #333;
  margin-bottom: 2rem;
}

.text-color{
  color: var(--text-color) !important;
}

.info-text{
  flex: 1;
  background-size: cover;
  background-position: center;
}

.chapter{
  color: var(--text-color) !important;
  text-decoration: none;
}

.chapter:hover, .tag:hover{
  color: var(--primary-color) !important;
}

.hidden {
  visibility: hidden;
}

.pagination {
  justify-content: center;
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  color: var(--text-color-muted);
}
.pagination > .active > a{
  background-color: #0275d8 ;
  border-color: #0275d8 ;
  color: black;
}
.pagination > li > a{
  border: 1px solid var(--primary-color);
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination > .previous, .pagination > .next{
  color: var(--text-color);
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  outline: none ;
  color: black !important;
}

.pagination > .active > a:hover, .pagination > .active > span:hover{
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
}

.pagination > li > a, .pagination > li > span{
  color: #0275d8
}

.pagination > li > a:hover, .pagination > li > span:hover{
  color: var(--text-color) !important;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

.paging {
  text-align: center;
}

.card_body{
  text-align: left;
}



